html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Fira Sans', sans-serif;
}

:root {
  --body-text: #3b3b3b;
  --yellow: #ffc429;
  --body-text-blue: #313945;
  --yellow-link: #ff990f;
  --blue-bg: #d9ffff;
  font-size: 10px;
}

a {
  text-decoration: none;
  color: var(--body-text);
}

a:visited {
  color: var(--body-text);
}

h1 {
  font-size: 3.2rem;
  line-height: 1.125;
}

h2 {
  font-size: 2.6rem;
  line-height: 1.125;
}

h3 {
  font-size: 2.1rem;
}

p {
  color: var(--body-text);
  font-size: 1.5rem;
  line-height: 1.5;
}

@media (min-width: 700px) {
  h2 {
    font-size: 3.2rem;
  }
}

@media (min-width: 1000px) {
  h1,
  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.9rem;
  }
}
